// Map-get Array Parameter
$font-family: (
  kor: 'Noto Sans KR',
  eng: 'Montserrat'
);
$font-color: (
  primary: #fff,
  secondary: #ddd
);
$font-size: (
  base: 15px,
  large-heading: 100px,
  medium-heading: 45px,
  small-heading: 35px
);
$bg-color: (
  primary: #000,
  secondary: #413a3a
);
$btn-color: (
  pc: crimson,
  mobile: royalblue
);