/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
/* Fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
/* XEICON CDN  */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #3c4043;
  line-height: 1.6em;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #3c4043;
}

/* Common CSS */
.btn-download {
  background-color: #9c80eb;
  color: #fff;
  display: inline-block;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 48px;
}

.btn-download:hover {
  background-color: #174EA6;
}

section.feature {
  padding: 50px 0;
}

.inner {
  max-width: 1250px;
  margin: auto;
  overflow: hidden;
}

.inner {
  display: flex;
}

.inner .desc {
  width: 50%;
  padding: 120px 50px 0 50px;
  padding-top: 120px;
}

.inner .photos {
  width: 50%;
}

.desc h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2em;
}

.desc a {
  color: purple;
}

.desc a i {
  transform: translateX(0);
  transition: 0.35s;
}

.desc a:hover i {
  transform: translateX(5px);
}

.photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: center center;
}

.photo.one {
  background-image: url("images/homepage_tools.png");
}

.photo.two {
  background-image: url("images/homepage_privacy.png");
}

.photo.three {
  background-image: url("images/homepage_features.png");
}

/* headerDrawer */
.drawerContent {
  transform: translateX(-200%);
  transition: all .35s;
  background-color: #fff;
  bottom: 0;
  left: 0;
  max-width: 400px;
  min-width: 264px;
  position: fixed;
  right: 58px;
  top: 0;
  z-index: 102;
}

.drawerContent.active {
  transform: translateX(0);
}

.drawerContent .drawerInner {
  position: relative;
  height: 100%;
}

.drawerContent .drawerInner .drawerLogo {
  padding: 10px;
  border-bottom: 1px solid #dbdce0;
}

.drawerContent .drawerInner ul {
  list-style: none;
  padding: 10px;
}

.drawerContent .drawerInner ul li {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.drawerContent .drawerInner ul li:hover {
  background-color: #eee;
}

.drawerContent .drawerInner ul li i {
  margin-left: 10px;
  font-size: 10px;
}

.drawerContent .drawerInner .drawerDownload {
  width: 100%;
  transform: translateX(-50%);
  bottom: 0px;
  padding: 20px 0;
  box-shadow: 0 -2px 4px rgba(32, 33, 37, 0.55);
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
}

.drawerBackdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.72);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  animation: d .5s;
}

.drawerBackdrop.active {
  display: block;
}

/* header */
header {
  height: 65px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  z-index: 100;
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.mobileMenu {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mobileMenu:active {
  border: 1px solid blue;
  border-radius: 50%;
}

.mobileMenu i {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logoMenu {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 0 15px;
  cursor: pointer;
}

.menu ul li:nth-child(1) {
  position: relative;
}

.menu ul li:nth-child(1)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 3px;
  background-color: #4a0df2;
}

.menu ul li:nth-child(3), .menu ul li:nth-child(4) {
  display: flex;
  align-items: center;
}

.menu ul li:nth-child(3) i, .menu ul li:nth-child(4) i {
  padding-left: 10px;
  font-size: 10px;
}

.menu ul li:hover {
  background-color: #eee;
}

.div-download {
  /*   padding-top: 10px;
 */
  transform: translateX(300px);
  transition: 0.5s;
}

.div-download.active {
  transform: translateX(0);
}

/* Section : Welcome */
section.welcome {
  height: 100vh;
  background-color: #E9F1FD;
  position: relative;
}

.next-section {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  font-size: 36px;
  text-align: center;
  line-height: 65px;
}

/* Heading */
.heading {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading img {
  width: 80px;
}

.heading h1 {
  margin: 15px 0;
  font-size: 68px;
  font-weight: 500;
  line-height: 1.3em;
}

.download-content span {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}

.statics {
  font-size: 12px;
}

.statics label input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
}

.statics a {
  color: dodgerblue;
}

.statics a:hover {
  color: royalblue;
}

/* Section : more */
.more-text {
  text-align: center;
  padding: 0 10px;
}

.more-text span {
  display: inline-block;
}

.more-text h1 {
  font-size: 42px;
  line-height: 1.2;
}

section.more {
  max-width: 1250px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

section.more::-webkit-scrollbar {
  height: 3px;
}

section.more::-webkit-scrollbar-track {
  background-color: #dbdce0;
  margin: 0 20px;
}

section.more::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

section.more .more-inner .cards {
  padding: 50px 20px;
  display: flex;
  gap: 30px;
}

section.more .more-inner .cards .card {
  width: 220px;
  min-height: 340px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdce0;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.15) 8.4px 8.4px 1.2px;
  transition: box-shadow .35s;
}

section.more .more-inner .cards .card:hover {
  box-shadow: rgba(92, 88, 88, 0.15) 15.4px 15.4px 1.2px;
}

section.more .more-inner .cards .card:hover a i {
  transition: transform .35s;
  transform: translateX(5px);
}

section.more .more-inner .cards .card .cardLogo {
  width: 50px;
  height: 50px;
}

section.more .more-inner .cards .card .cardLogo img {
  width: inherit;
  height: inherit;
}

section.more .more-inner .cards .card .cardContent {
  margin-bottom: auto;
}

section.more .more-inner .cards .card .cardContent p {
  font-size: 18px;
}

section.more .more-inner .cards .card .cardLink a {
  font-size: 13px;
  color: royalblue;
}

/* Section : download */
section.download {
  color: #fff;
  height: 280px;
  background: #1967d2;
  padding-top: 70px;
}

.download-inner {
  width: 700px;
  text-align: center;
  margin: auto;
}

section.download h1 {
  font-size: 42px;
  font-weight: 500;
}

section.download a i:hover {
  transform: translateX(5px);
  transition: transform .3s;
}

section.download .btn-download {
  background-color: #fff;
  color: #000;
}

section.download .btn-download:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Footer */
.footer-inner {
  width: 1250px;
  margin: auto;
}

.sns-outer {
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}

.sns-outer span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.sns a {
  font-size: 24px;
  margin: 5px;
}

/* sitemap */
.sitemap {
  padding: 50px 0;
}

.link-items {
  overflow: hidden;
  /* display: flex; */
}

.link-item {
  float: left;
  width: 20%;
  /* flex: 1; */
}

.link-item-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  pointer-events: none;
}

.link-item-content {
  line-height: 2.3em;
  font-size: 14px;
}

.link-item-content a {
  display: block;
  color: #555;
}

.link-item-content a:hover {
  color: #000;
}

/* Copyright */
.copyright {
  border-top: 1px solid #ddd;
  padding: 50px 0;
  overflow: hidden;
}

.logo-footer {
  float: left;
  margin-right: 10px;
  transform: translateY(-3px);
}

.policy {
  float: left;
}

.policy a {
  position: relative;
  margin-right: 10px;
}

.policy a:after {
  content: '|';
  position: absolute;
  color: #ccc;
  font-size: 13px;
  padding-left: 5px;
}

.policy a:last-child:after {
  display: none;
}

.language {
  float: right;
}

.language i {
  font-size: 20px;
  color: #000;
  vertical-align: middle;
  margin-top: -4px;
}

.language select {
  padding: 7px;
  border: none;
  margin-left: 10px;
}

.language section:focus {
  background-color: #ddd;
}
